<% if @school.errors.any? %>
  <ul>
    <% @school.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>Edit School</h1>

<%= form_for @school  do |f| %> 

  <%= render "schools/partials/form", f: f  %>

  <%= f.submit 'Save' %>
<% end %>
